@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
}

code {
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", sans-serif;
}

.NavBar {
  background-color: #3d943d;
  overflow: hidden;
}

.NavBar h1 {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40px;
}

.NavBar img {
  height: 40px; /* Adjust the height as necessary */
  margin-right: 10px; /* Adjust the spacing as necessary */
  margin-top: 40px;
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
.home {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.workouts-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 70%; /* Adjust width as needed */
}

.workouts {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.workouts h3{
  color: #3d943d;
}

.workouts-description {
  padding-right: 100px; /* To ensure the buttons do not overlap with the text */
}

.workouts-button {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px; /* Space between buttons */
}

.workouts-button button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.workouts-button img {
  width: 16px;
  height: 16px;
}

.workouts-button button:hover.delete {
  background-color: red;
}

.workouts-button button:hover.edit {
  background-color: yellow;
}


.formComponent{
  width: 30%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  
}

.formComponent input{
  width: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 20px;
  border: none;
}

.formComponent button{
  background-color: #3d943d;
  width: 50%;
  height: 40px;
  color: #f2f2f2;
  border: none;
  margin-top: 2%;
  cursor: pointer;
  font-family:"Poppins", sans-serif;
  font-weight: 600;
}

.formComponent button:hover{
  background-color: red;

}